@font-face {
    font-family: 'Corbel';
    src: url('../fonts/corbel.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    background-color: #f3f3d3;
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #404040;
}

h3, .control-label, .basic, #w1 {
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #404040;
}

h2 {
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #0c9a8c;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover, .basicGreen:hover, .col-lg-5 a:hover {
    color: #06403a;
}

ul, li {
    text-decoration: none;
}

h1 {
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #0c9a8c;
}

.basicGreen {
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #0c9a8c;
}

.basicRed {
    color: #a94442;
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.fText {
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #404040;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #d0d0b5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.breadcrumb {
    background-color: #d0d0b5;
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.breadcrumb > li + li:before {
    color: #777;
}

.btn-primary {
    background-color: #0c9a8c;
    border-color: #0c9a8c;
}

.btn-primary:hover {
    background-color: #06403a;
    border-color: #06403a;
}

.headerBlock {
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #d0d0b5;
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #777;
}

.col-lg-3 {
    cursor: pointer;
}

.navbar-fixed-top {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.btn {
    background-color: #0c9a8c;
    border: none;
    font-family: Corbel, Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #06403a;
}

.f-container {
    position: relative;
    margin: 0 auto;
    width: 170px;
}

.active a, .breadcrumb a {
    color: #0c9a8c;
}

#w1 .active {
    background-color: #eee;
}

#w1 li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#w1 li a:hover, .col-lg-5 a {
    color: #0c9a8c;
}